.project{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: peachpuff;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.project img {
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    height: 100px;
}
.project__info{
    display: flex;
    flex-direction: column;
    gap: 8px;
} 
.tags {
    display: flex;
    gap: 8px;
}

  h3 {
    color: #333;
    font-size: 1.6rem;
    font-weight: 500;
  }