.button{
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
}

.main{
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    background: linear-gradient(15deg, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068) no-repeat;
    background-size: 300%;
    color: var(--white);
    border: none;
    background-position: left center;
    box-shadow: 0 30px 10px -20px rgba(0,0,0,.2);
    transition: background .3s ease;
    
    &:hover {
        background-size: 320%;
        background-position: right center;
    }
}

.secondary{
    border: solid 1px #FF9C1A;
    transition: all ease-in-out 0.2s;
    &:hover{
        /*background: linear-gradient(to right, #FF9C1A, #E80505);*/
        background: linear-gradient(15deg, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068) no-repeat;
        color: var(--white);
    }
}