.contact-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
  }
  
  .contact-form__label {
    font-size: 1.4rem;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .contact-form__input,
  .contact-form__textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #F2F5F9;
  }
  
  .contact-form__button {
    align-self: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form__button:hover {
    background-color: #0056b3;
  }