.line-code{
    display: flex;
    gap: 16px;
}
.number-line {
    width: 10px;
    position: relative;
    font-size: 14px;
    color: #999;
}

.number-line::before {
    top: 8px;
    position: absolute;
    content: counter(line-numbering);
    counter-increment: line-numbering;
}

.accordion-content {
    padding: 0px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    counter-reset: line-numbering 0;
  
    & p{
      line-height: 30px;
    }
  }