* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-color-primary: #FF9C1A;

    /* Media Queries */
    --sm : 840px;
    --md : 1168px;
}

:root[data-theme="light"] {
    /* Colores fuentes */
    --font-color-secondary: #393939;
    /* Colores contenedores */
    --body: #fcff9e;
    --page: #FFFFFF;

    /* Colores */
    --primary-grey: #f3f6f6;
    --secondary-grey: #e3e3e3
}

:root[data-theme="dark"] {
    /* Colores fuentes */
    --font-color-secondary: #FFFFFF;
    /* Colores contenedores */
    --body: hsl(180, 6%, 10%);
    --page: hsl(180, 4%, 14%);

    /* Colores */
    --primary-grey: #1d1d1d;
    --secondary-grey: hsl(0, 0%, 20%);
}


html {
    font-size: 62.5%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    width: calc(100vw - 15px);
    scrollbar-color: #FF9C1A transparent;
}

body {
    transition: 0.5s;
    background-color: var(--body);
}

h1,h2,h3,h4{
    text-wrap: balance;
    color: var(--font-color-secondary);
}

p {
    text-wrap: pretty;
    color: var(--font-color-secondary);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

textarea,
input {
    resize: none;
    font-family: inherit;

    &:focus {
        outline: none;
    }
}

time{
    color: var(--font-color-secondary);
}

main{
    font-size: 1.6rem;
  }

/* Clases */
.portfolio {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 17px 0 32px;
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (max-width: 1168px) {
        padding: 32px 0px 0 16px;
    }
}

.portfolio__information {
    display: flex;
    gap: 16px;
}

.main__content{
    width: 70%;
    display: flex;
    gap: 16px;

    @media screen and (max-width: 1168px) {
        flex-direction: column;   
    }
}

/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}