* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-color-primary: #FF9C1A;
    --white: #FFFFFF;

    /* Media Queries */
    --sm : 990px;
    --md : 1168px;
}

:root[data-theme="light"] {
    /* Colores fuentes */
    --font-color-secondary: #393939;
    /* Colores contenedores */
    --body: #FFFFFF;
    --page: #FFFFFF;

    /* Colores */
    --primary-grey: #f3f6f6;
    --secondary-grey: #e3e3e3;

    --image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF9C1A'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFE4C0' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFE4C0' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
}

:root[data-theme="dark"] {
    /* Colores fuentes */
    --font-color-secondary: #FFFFFF;
    /* Colores contenedores */
    --body: hsl(180, 6%, 10%);
    --page: hsl(180, 4%, 14%);

    /* Colores */
    --primary-grey: #1d1d1d;
    --secondary-grey: hsl(0, 0%, 20%);

    --image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2313010C'/%3E%3Cstop offset='1' stop-color='%231D1D1D'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23000000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
}


html {
    font-size: 62.5%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    width: calc(100vw - 15px);
    scrollbar-color: #FF9C1A transparent;
}

body {
    transition: 0.5s;
    background-color: var(--body);
    background-image: var(--image);
    background-attachment: fixed;
    background-size: cover;
}

h1,h2,h3,h4{
    text-wrap: balance;
    color: var(--font-color-secondary);
}

p {
    text-wrap: pretty;
    color: var(--font-color-secondary);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

textarea,
input {
    resize: none;
    font-family: inherit;

    &:focus {
        outline: none;
    }
}

time{
    color: var(--font-color-secondary);
}

main{
    font-size: 1.6rem;
  }

/* Clases */
.portfolio {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 17px 0 32px;
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (max-width: var(--md)) {
        padding: 32px 0px 0 16px;
    }

    @media screen and (max-width: 990px) {
        padding: 16px;
    }
}

.portfolio__information {
    display: flex;
    gap: 16px;

    @media screen and (max-width: 990px) {
        flex-direction: column;
    }
}

.main__content{
    width: 70%;
    display: flex;
    gap: 16px;

    @media screen and (max-width: 1168px) {
        flex-direction: column;   
        margin-block: 16px;
    }

    @media screen and (max-width: 990px) {
        width: 100%;
        max-width: 760px;
        margin: 0 auto;
    }
}

/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}