.resume{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;
}
.resume__filter{
    display: flex;
    justify-content: flex-end;
    gap: inherit;
    color: var(--font-color-secondary);

    & li{
        cursor: pointer;
    }
    & .active{
        color: var(--font-color-primary);
        cursor: default;
    }
}
.resume__foter{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.resume__experiences{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}
.vertical-line{
    border-left: 2px solid;
    border-image-source: linear-gradient(to right, #FF9C1A, #E80505);
    border-image-slice: 1;
    height: 100%;
    position: absolute;
    left: 5px;
}