.main__conteiner-information{
  width: calc(100% - 96px);
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: 1168px) {
    order: 2;  
    width: 100%;
  }
}
.border__degree{
  border: 2px solid;
  border-image-source: linear-gradient(to right, #FF9C1A, #E80505);
  border-image-slice: 1;
  border-radius: 10px;
}