.app-details{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.home__introduce{
  width: 100%;
  align-self: flex-start;
  max-width: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.home__highlighted-information{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home__summary{
  line-height: 28px;
}

.bash-icon{
  width: 100px;
  color: var(--font-color-secondary);
}

.about-me__hook{
  width: calc(100% - 120px);
  max-width: 533px;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 56px;
  text-transform: capitalize;
}

.type-writing{
  color: var(--font-color-primary);
}

.home__metrics{
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2,minmax(280px,500px));
}

.home__fun-facts{
  display: flex;
  flex-direction: column;
  gap: 24px;

  & p{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--font-color-primary);

    & span {
      color: var(--font-color-primary);
    }
  }
}