.app-details{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-block: 16px;
}

.about-me__hook{
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

.type-writing{
  
}