.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 333px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }
  
  .card__text {
    color: #666;
    line-height: 1.6;
  }