.navigation-bar {
    display: flex;
    justify-content: flex-end;
    gap: 40px;

    @media screen and (max-width: 1015px) {
        /* display: none; */
    }

    &.side-bar{
        @media screen and (max-width: 1050px) {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          position: relative;
          top: 0;
          left: 0;
      }
    }
  }


  
