.resume__card{
    max-width: 770px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}
.resume-circle{
    display: block;
    min-width: 12px;
    height: 12px;
    border-radius: 100%;
    background: linear-gradient(to right, #FF9C1A, #E80505);;
    z-index: 1;
}
.description__header{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}
.date{
    text-wrap: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
}
.description{
    max-width: 599px;
    font-size: 1.4rem;
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.description__company{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--font-color-secondary);
}
.description__text{
    line-height: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    /* Number of lines before truncating */
    -webkit-line-clamp: 4; /* for WebKit browsers */
    line-clamp: 4; /* standard property */
}
.arrow{
    cursor: pointer;
}
.arrow--down{
    transform: rotateX(180deg);
}
.resume__position{
    display: flex;
    gap: 24px;
}