.header{
    width: 100%;
    max-width: 1240px;
    padding-block: 16px;
    background-color:var(--grey-light);

    @media screen and (max-width: 1014px) {
        position: sticky;
        top: 0px;
        z-index: 4;
    }
}