.tab {
  position: relative;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 80px;
  aspect-ratio: 1/1;
  text-align: center;
  color: var(--font-color-secondary);
  border-radius: 10px;
  cursor: pointer;
  transition: .6s;

  &:hover .tab__text {
    opacity: 1;
  }
}
  .tab__text.tab__text--selected,
  .tab__icon.tab__text--selected svg{
    color: var(--font-color-primary);
  }

  .tab__icon svg {
    color: var(--grey-light);
    width: 24px;
    height: 24px;
  }
  
  .tab__text {
    position: absolute;
    padding: 8px;
    border-radius: 2px;
    opacity: 0;
    transition: .3s;
    bottom: -12px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--font-color-secondary);
  }