.tab {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 1/1;
    width: 40px;
    text-align: center;
    background-color: #E1E8EF;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
  }

  .tab__text.tab__text--selected{
    color: white;
  }

  .tab.tab--selected{
    background: linear-gradient(to right, #FF9C1A, #E80505);
  }
  .tab__icon img {
    width: 20px;
    height: 20px;
  }
  
  .tab__text {
    font-size: 1.2rem;
    color: #333;
  }