.accordion {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
  }
  .accordion-item {
    background-color: var(--primary-grey);
    padding: 12px 24px;
    cursor: pointer;
    border-bottom: solid 1px #ddd;
  }
  
  pre{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
  }
  
  .line-content{
    text-wrap: wrap;
  }
  
  .highlight {
    color: blue; /* Color para resaltar "name" */
  }
  
  .other-highlight {
    color: red; /* Color para resaltar "role" */
  }
  
  .acordion-open {
    max-height: max-content;
  }