/* @-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-150px * 4));
            transform: translateX(calc(-150px * 4));
  }
} */

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-100px * 6));
            transform: translateX(calc(-100px * 6));
  }
}

.slider {
  background-color : inherit;
  width: 100%;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.slider .slide {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100px;
  flex-shrink: 0; /* Evita que los elementos se reduzcan más allá de su tamaño original */
}

.slide-track {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
  display: flex;
  width: calc(130px * 4);

  @media screen and (width < 730px) {
    width: calc(80px * 4);
  }
}

.slide svg{
  width: 50px;
  height: 50px;
}

.slider::before, .slider::after {
  background: linear-gradient(to right, inherit 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;

  @media screen and ( max-width: 730px) {
    width: 100px;
  }
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
*/

.slider::before, .slider::after {
  background: linear-gradient(to right, #F2F5F9 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
